@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  text-decoration: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.slick-dots{
  z-index: 10;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}